.skills {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .skills ul li {
    margin: 10px 20px;
    font-size: 1.2em;
    background-color: #2a2a2a;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px #616060;
  }
  